.github-button {
	display: inline-block;
	position: relative;
	margin: 0 .25em .5em 0;
	padding: 0;
	font-family: "Helvetica Neue", "Helvetica", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 1em;
	text-decoration: none;
	text-shadow: rgba(0, 0, 0, 0.3) 0px -0.1em 0px;
	border: 0;
	border-radius: 0.4em;
	-webkit-border-radius: 0.4em;
	-moz-border-radius: 0.4em;
	-ms-border-radius: 0.4em;
	-o-border-radius: 0.4em;
	background-color: #262626;
	text-align: center;
	background-repeat: no-repeat;
	-webkit-transition: background-position .1s ease-in-out;
	-webkit-appearance: none;
	cursor: pointer;
	overflow: hidden;

	&:hover,
	&:active {
		background-color: #4d4d4d;
	}
	
	.icon {
		margin: 0 -1.2em 0 0;
		padding: 0.7em .8em .5em;
		
		svg {
			width: 1.8em;
			height: 1.8em;
			fill: #fff;
		}
	}
	
	.text {
		padding: .95em 0.7em .85em 1em;
		font-size: 1.15em;
		text-align: center;
		color: white;
		font-family: Arial, Helvetica, sans-serif;
	}
	
	.icon,
	.text {
		display: block;
		float: left;
	}
}